.quiz-container {
    font-family:"Roboto", sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 16px;
}

.quiz-container .timer {
    font-weight: bold;
    text-align: right;  
}

.timer.danger {
    color: red;
}

.quiz-container h2.question {
    font-size: 20px;
    background-color: #7df1a0;
    padding: 16px;
    border-radius: 8px;
    font-weight: normal;
    line-height: 1.6;
}