.quiz-container {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    max-width: 900px;
    padding: 16px;
}

.quiz-container .timer {
    font-weight: bold;
    text-align: right;  
}

.timer.danger {
    color: red;
}

.quiz-container h2.question {
    font-size: 20px;
    background-color: rgba(139, 36, 36, 0.247);
    color: #ffffff;
    padding: 16px;
    border-radius: 8px;
    font-weight: normal;
    line-height: 1.6;
}

.quiz-container .options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 20px;
}

.quiz-container .option {
    border: none;
    padding: 24px 32px;
    font-size: 18px;
    background: #1d3557;
    background: #fff;
}

.quiz-container .button {
    cursor: pointer;
}

.disabled {
    pointer-events: none;
}

.option.correct {
    background: rgba(115, 253, 145, 0.733)n;
    color: #222;
    }

.option.incorrect {
    background: #f85562;
}

.quiz-container .next-button,
.quiz-result .retake-button {
    background: #222;
    color:#fff;
    border: none;
    padding: 12px 32px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    width: fit-content;
}

.quiz-result {
    display: none;
    flex-direction: column;
    gap: 24px;
    max-width: 900px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    padding: 16px;
}

.quiz-result .question-container {
    padding: 12px;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quiz-result .question-container.incorrect {
    background: #e63946;
    color: #fff;
}